body {
	box-sizing: border-box;
	width: 95%;
	margin: auto;
	font-family: 'Noto Serif JP', sans-serif;
	text-align: center;
	margin-bottom: 5%;
}

h1,
h2 {
	font-family: 'Playfair Display', serif;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

h2 {
	margin-top: 0%;
}

h1 {
	margin-bottom: 0px;
}

p,
li {
	line-height: 1.2em;
	font-size: .9em;
}

.bio img {
	width: 65%;
}

a {
	color: black;
	text-decoration: none;
	font-style: italic;
	font-size: .9em;
	line-height: 1em;
}

@media screen and (min-width: 480px) {

	body {
		text-align: left;
	}

	p,
	li {
		line-height: 1.2em;
		font-size: .9em;
	}

	ul {
		position: absolute;
		bottom: 30px;
		list-style-type: none;
		padding-left: 0;
	}

	.left {
		float: left;
		width: 40%;
	}

	aside {
		margin-top: 30px;
		float: right;
		width: 10%;
		max-width: 40px;
	}

	.bio {
		margin-top: 100px;
		width: 50%;
		float: left;
	}

	.bio img {
		float: left;
		width: 40%;
		margin: auto;
		padding: 5%;
	}

	.bio p {
		text-indent: 10pt;
		padding-right: 5%;
		width: 90%;

	}
}

@media screen and (min-width: 900px) {

	.bio {
		margin-top: 90px;
		width: 50%;
		float: left;
	}

	.bio img {
		float: left;
		width: 55%;
		margin: auto;
		padding: 5%;
	}

	.bio p {
		padding-right: 5%;
		width: 90%;

	}
}
